html, body { 
	background: #111;
	color: #FEE8D6;
}
.PlayerInfo {
	display: inline-block;
	margin-right: 20px;
	border: 1px solid #FEE8D6;
	padding: 5px;
}
#W {
	float: left;
	border: 2px solid #444444;
	width: 906px;
	height: 906px;
	box-shadow: 3px 3px 4px gray;
	margin: 0 8px 8px 0;
}
#Board {
	border: 3px solid black;
	width: 900px;
	height: 900px;
	background: url(board.jpg) center no-repeat;
}
#Text {
	position: absolute;
	bottom: 10px;
	top: 0;
	left: 918px;
	right: 0;
}
textarea {
	width: 100%;
	height: 100%;
}
#Log {
	position: relative;
	height: 400px;
	width: 100%;
}